*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


.logo{
    border-radius: 50%;
}

body {
    background-color: #12121f;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    line-height: 3;
    /*
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;
    */
    background: rgb(31, 64, 58);
    color: white;
}

.navLinks {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    flex: 0 1 90%;
}

.navBtn {
    font-size: medium;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: grey;
}
.navBtn:hover {
    background-color:#DDDDDD;
}
.navBtn:active {
    background-color: #BBBBBB;
}

.login {
    flex: 0 1 10%;
    margin: 5px;
    text-align: center;
    background-color: grey;
    font-size: medium;
}
.login:hover {
    background-color:#DDDDDD;
}
.login:active {
    background-color: #BBBBBB;
}


/* Hide text */
.hide {
    display: none;
}

input, textarea, select, option{
    color: black;
}

.container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

form {
    width:25%;
    flex: 0 1 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color:darkred;
    padding: 10px;
}